.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url("../../images/stars.svg"), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
}

.BadgeNew__form{
    margin-top: -150px;
}

@media (max-width: 699px) {
    .BadgeNew__form{
        margin: 0;
    }
}